
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Merriweather', serif;
}

html{
  font-size: 50%;
}

body{
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 400;
}


q{
  line-height: 1.7;
}

.app{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  position: absolute;
  text-align: justify;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: auto;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.43);
}

.card_imgBox{
  border-radius: 2px;
  display: flex;
  justify-content: flex-start;
  width: 200px;
  padding: 3rem;
}

.card_img{
  width: 50%;
}

.card_text{
  position: relative;
  left: 1.5%;
  margin-bottom: 3rem;
}

.card_quote{
  display: block;
  width: 90%;
  font-weight: 900;
  font-size: 2.4rem;
  margin-bottom: 8rem;
}


.card_author{
  position: relative;
  left: 75%;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}

.btnBox{
  position: relative;
  left: 80%;
  bottom: 10%;
}

.btn{
  position: relative;
  top: -5%;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 700;
  transition: all .4s;
}

.btn:hover{
  transform: scale(.95);
  box-shadow: 0,2rem, 3rem rgba(0, 0, 0, 0.15);
}

.btn:active{
  transform: scale(.90);
  box-shadow: 0,2rem, 3rem rgba(0, 0, 0, 0.15);
}
